---

import Base from "../layouts/BasePage.astro"

import BogTable from "../components/BogTable.svelte"

---

<Base title="Alek | Blå bog">
	<section class="flex flex-col items-center gap-4 p-4 h-screen">
		<div class="bg-neutral-900/50 backdrop-blur-md rounded-xl min-w-[50dvw] p-8 mt-24">
			<div transition:name="hero" class="flex flex-col items-center">
				<div transition:name="heroimg" class="size-40 rounded-full ring-[#222222] ring-2 mb-8">
					<div class="imageofme backlight">
				</div>

				<div transition:name="herotxt" class="mt-2 flex gap-1 items-end">
					<h1 class="text-2xl font-bold text-gray-100 text-mulish">Aleksander</h1>
					<p class="text-gray-400 text-xs">17 år</p>
				</div>
			</div>

			<BogTable />
		</div>

	</section>
</Base>

<style>

.imageofme {
	position: relative;
	background-size: cover;
	background-image: url("/img/alek.webp");
	object-position: top;
	border-radius: 9999px;
	width: 100%;
	height: 100%;
}

@keyframes dynamic-backlight {
	0% {
		background-color: rgba(0, 0, 0, 0.2);
		rotate: 0deg;
		filter: blur(10px);
	}

	10% {
		rotate: 2deg;
	}

	30% {
		rotate: 8deg;
	}

	50% {
		background-color: rgba(0, 0, 0, 0.0);
		filter: blur(17px);
		rotate: 0deg;
	}
	80% {
		rotate: -8deg;
	}

	100% {
		background-color: rgba(0, 0, 0, 0.2);
		filter: blur(10px);
		rotate: 0deg;
	}
}

.backlight:after {
	animation: dynamic-backlight 5s infinite;
	content: "";
	background: inherit;
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;
	border-radius: inherit;
	z-index: -1;
}
</style>
