---

import Base from "../layouts/Base.astro"

---

<Base title="Blå bog">
	<main>
		<h1 class="">Aleksander</h1>
      <img src="/img/alek.jpg" alt="Aleksander" class="h-64 object-top aspect-[4/5] object-cover">
	</main>
</Base>
