---

import LinkButton from "../components/LinkButton.astro"
import Base from "../layouts/Base.astro"

---
<Base title="Aleksander">
	<main class="h-screen flex flex-col items-center justify-center bg-prism">

		<div transition:name="hero" class="flex flex-col items-center">
			<div transition:name="heroimg" class="size-72 overflow-hidden rounded-full ring-[#222222] ring-2">
				<img class="overflow-hidden object-cover object-top -mt-10" src="/img/alek.jpg" alt="alek">
			</div>
			<div class="mt-5 flex gap-1 items-end">
				<h1 class="text-4xl font-bold text-gray-100 text-mulish">Aleksander</h1>
				<p class="text-gray-400">17 år</p>
			</div>

		</div>
		<div class="flex mt-5 gap-4">
			<LinkButton href="/bog">Blå bog</LinkButton>
		</div>

	</main>
</Base>

<style>
	.vignette {
		box-sizing: border-box;
		box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
	}
</style>
