---
interface Props {
	title: string;
}

import ViewTransitions from 'astro/components/ViewTransitions.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<div class="overflow-hidden -z-10 absolute h-screen w-screen">
			<div class="animbg"></div>
		</div>
		<slot />
	</body>
</html>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

	.text-mulish {
		font-family: Mulish, sans-serif;
	}

  @keyframes move-background {
    from {
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
      -webkit-transform: translate3d(1000px, 0px, 0px);
    }
  }
  @-webkit-keyframes move-background {
    from {
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
      -webkit-transform: translate3d(1000px, 0px, 0px);
    }
  }

  @-moz-keyframes move-background {
    from {
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
      -webkit-transform: translate3d(1000px, 0px, 0px);
    }
  }

  @-webkit-keyframes move-background {
    from {
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
      -webkit-transform: translate3d(1000px, 0px, 0px);
    }
  }

  .animbg{
	width:10000px;
	height: 100%;
	background: transparent url("/Moon.svg") repeat;
	background-size: 1000px 400px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 3;

   -moz-animation:move-background 150s linear infinite;
  -ms-animation:move-background 150s linear infinite;
  -o-animation:move-background 150s linear infinite;
  -webkit-animation:move-background 150s linear infinite;
  animation:move-background 150s linear infinite;
}
</style>
